.container {
  display: flex;
  background-color: white;
  width: 384px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  padding: 48px 14px 48px 19px;
}

.containerArticle {
  display: flex;
  background-color: white;
  width: 938px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  padding: 48px 14px 48px 19px;
}


