.tagDelete {
  margin-top: 5px;
  margin-left: 20px;
  color: red;
  border: 1px solid red;
  width: 100px;

}

.tags {
  list-style-type: none;
  padding-left: 0;
}

.tag {
  display: flex;
  flex-wrap: nowrap;
}